{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-flex is-align-items-center">
                <img class="mr-3" src="/img/its-me.svg" width="75">
                Mon compte
            </h1>
        </div>
    </section>
{% endblock %}
