{% extends 'base.html.twig' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Mon panier</h1>

            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th>Photo</th>
                    <th>Nom du chat</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for cat in cats %}
                    <tr>
                        <td>
                            <img src="{{ cat.image }}" width="200">
                        </td>
                        <td>{{ cat.name }}</td>
                        <td>{{ cat.price | number_format(2, ',', ' ') }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>TOTAL : {{ total | number_format(2, ',', ' ') }} €</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
